header {
  height: 5.1875rem;
}

a.button.active {
  border: 1px solid var(--fore-color);
}

a.button.active {
  border: 1px solid var(--fore-color);
}

.detailLink {
  background-color: darkcyan;
  border-radius: 0.5em;
  padding:0.25em;
}

a:link, a.detailLink {
  color:aliceblue;
  text-decoration: none;
}


.detailLink {
  background-color: plum;
  border-radius: 0.5em;
  padding:0.25em;
}